numpy
pandas
matplotlib
scikit-learn
tensorflow
seaborn
beautifulsoup4
requests
plotly
keras
vietocr
streamlit
torch --index-url https://download.pytorch.org/whl/cu121
torchvision --index-url https://download.pytorch.org/whl/cu121
torchaudio --index-url https://download.pytorch.org/whl/cu121
